<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container">
        <a class="navbar-brand" asp-area="Admin" asp-controller="Home" asp-action="Index">Spice</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
            <partial name="_LoginPartial" />
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="Admin" asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="Admin" asp-controller="Home" asp-action="Privacy">Privacy</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="ddlCategories" role="button" data-toggle="dropdown" aria-expanded="false" aria-haspopup="true">information</a>
                    <div class="dropdown-menu" aria-labelledby="ddlCategories">
                        <a class="dropdown-item" href="~/Admin/Categories/Index">Category</a>
                        <a class="dropdown-item" href="~/Admin/SubCategories/Index">Sub category</a>
                        <a class="dropdown-item">Menu Item</a>
                        <a class="dropdown-item">Coupons</a>
                        <a class="dropdown-item">Users</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>